* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
ul,li {
	list-style: none;
}
.inactive {
	display: none;
}
.active {
	display: block;
}
.container {
	position: relative;
	width: 500px;
	height: 380px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #0a2341;
	border-radius: 10px;
	background: linear-gradient(rgba(166,103,148,1),rgba(68,75,124,0.8));
}
.main {
	position: relative;
}
.main .nav {
	float: left;
}
.main .sound {
	float: right;
}
.main .nav i{
	font-size: 30px;
	color: #fff;
}
.main .sound i {
	font-size: 30px;
	color: #fff;
}
.main .main-content img{
	position: absolute;
	top: 50px;
	left: 100px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.content-left {
	width: 200px;
	height: 300px;
}
.main .record {
	position: absolute;
	top: 160px;
	left: 100px;
	margin-left: -50px;
	width: 100px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.main .main-music {
	position: absolute;
	top: 190px;
	left: 100px;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.main .music-singer {
	position: absolute;
	top: 210px;
	left: 100px;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
 .music-lyric{
 	position: absolute;
 	left: 180px;
 	top: 10px;
	width: 260px;
	height: 230px;
	padding: 20px 0px;
}
 .music-lyric .lyric-view{
	height: 190px;
	overflow: hidden;
}
.music-lyric ul{
	position: relative;
	transition: all 1s;
}
.lyric li{
	padding: 5px 0 2px 0;
	position: relative;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px ;
	transition: all 1s;
}
.lyric li.active {
  font-size: 13px;
  color: #ffffff;
}
.control {
	position: absolute;
	bottom: -30px;
	left: 0px;
	width: 100%;
	height: 100px;
}
.control>div {
	float: left;
	text-align: center;
}
.control .control-left {
	width: 165px;
	
}
.control div i {
	font-size: 30px;
	color: #fff;
}
.control .control-center {
	width: 168px;
	
}
.control .control-right {
	width: 165px;
}
/*音量控制*/
.sound-control {
	position: absolute;
	top: 16px;
	z-index: 11;
	left: 200px;
	width: 210px;
	height: 4px;
	background: rgba(255,255,255,0.8);
	border-radius: 2px;
}
.sound-control .sound-point {
	position: absolute;
	top: -3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: rgba(255,255,255,1);
	border-radius: 50%;
}
/* 进度条 */
.time-line {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 360px;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	color: #fff;
}
.time-line .song-time {
	position: absolute;
	top: -20px;
	color: white;
	font-size: 12px;
}
.time-line .start-time {
	left: 0;
}
.time-line .stop-time {
	right: 0;
}
.time-line  .time-point {
	position: absolute;
	top: 0px;
	left: 0;
	width: 0px;
	height: 4px;
	border-radius: 2px;
	background: #000;
}
.control .back i {
	font-size: 40px;
	line-height: 30px;
}
.inactive {
	display: none;
}